*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background : #000;
    color: #fff;
}
.root{
    width:100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(/part1/netflix/images/background.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;

}
nav h1{
    width: 150px;
    cursor: pointer;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 ;
}
nav .language{
    padding: 10px 20px;
    font-size: 12px;
    margin: auto;
    background:none;
    color:#fff;
    margin-right: 15px;

}

nav button{
    border: 0;
    outline: 0;
    background: red;
    color: white;
    padding: 10px 20px;
    font-size: 12px;
}
.dropbtn{
    background-color: rgb(209, 29, 29);
    color: white;
    padding: 35px;
    font-size: 25px;
   
    border: none;
    cursor: pointer;
    width: 100%;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
/* /* @import url('https://fonts.cdnfonts.com/css/netflix-font');
*
body{
    background-color: #000  ;
    background-image: url("/part1/netflix/images/background.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    color:white;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    margin: 0px;
}
.navbar{
    padding-top: 1%;
    padding-left: 2vw;
    padding-right: 4vw;
    height: 10vh;
    display: flex ;
    flex-direction: row;
    justify-content: space-between;
     align-items: center;
}
.root .navbar .language{
    margin: auto;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding: 7px 10px;
    color: rgb(13, 13, 13);
    background: none;
    cursor: pointer;
    margin-right: 15px;
}
.root .navbar .language a :hover{
    background-color: blue;
}
.img-logo {
  width: 14% ;
}
.sign-in {
  background-color: red;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  cursor:pointer;
  /* display: inline-block; */
  /* width: fit-content;
} */
.container{
    width: 50%;
    text-align: center;
    margin-top: 150px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    
}

.main-title{
    font-weight: 900;
    font-size: 50px;
    z-index: 1000;
}
.email-signup {
    background: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
}

.email-signup input {
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
}

.email-signup button {
    background-color: #db0001;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 30px;
}
.features{
    padding: 50px 12%;
    font-size: 22px;
}
.row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}
.text-col{
    flex-basis: 50%;
    margin-bottom: 20px;

}
.img-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.img-col img{
    display: block;
    width: 90%;
    margin: auto;

}
.features h2{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;

}

.faq{
    padding: 10px 12%;
    text-align: center;
    font-size: 18px;
    
}

